<div ng-if="!$ctrl.carsLoaded">Loading...</div>
<div ng-if="$ctrl.noCarsFound">
  <h4>No cars found.</h4>
</div>
<div ng-if="$ctrl.carsFound" class="table-responsive">
  <table id="carstable" class="table">
    <thead>
      <tr>
        <th>Year</th>
        <th>Make</th>
        <th>Model</th>
        <th>Trim Levels</th>
      </tr>
    </thead>
    <tbody id="tablebody">
      <tr ng-repeat="car in $ctrl.cars">
        <td>
          <a href="cars/{{car.id}}">{{ car.year }}</a>
        </td>
        <td>
          <a href="cars/{{car.id}}">{{ car.make }}</a>
        </td>
        <td>
          <a href="cars/{{car.id}}">{{ car.model }}</a>
        </td>
        <td>
          <a href="cars/{{car.id}}">{{ $ctrl.getTrimLevels(car.trimLevels) }}</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>