<!DOCTYPE html>
<html layout:decorator="layout">
  <head>
    <title>Add Car</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script th:inline="javascript" type="text/javascript">
      /*<![CDATA[*/
          $(document).ready(function() {
              $("#submitcarbutton").click(function() {
                  $("#submitcarbutton").prop("disabled", true);

                  var header = $("meta[name='_csrf_header']").attr("content");
                  var token = $("meta[name='_csrf']").attr("content");

                  var car = {};
                  car.year = $("#year").val();
                  car.make = $("#make").val();
                  car.model = $("#model").val();

                  if ($(".trimlevel").length > 0) {
                      car.trimLevels = [];

                      $(".trimlevel").each(function() {
                          var trimLevel = {name: $(this).val()};
                          car.trimLevels.push(trimLevel);
                      });
                  }

                  var addCarRequest = $.ajax({
                      url: "/resources/cars",
                      method: "POST",
                      data: JSON.stringify(car),
                      contentType: "application/json; charset=UTF-8",
                      processData : false,
                      dataType: "json",
                      beforeSend: function(request) {
                          return request.setRequestHeader(header, token);
                      }
                  });

                  addCarRequest.done(function() {
                      alert("Car added!");
                      window.location.href = "/";
                  });

                  addCarRequest.fail(function(data) {
                      alert("Oops! Error trying to add car!");
                      $("#submitcarbutton").prop("disabled", true);
                  });
              });
          });
      /*]]>*/
    </script>
  </head>
  <body>
    <div class="container" layout:fragment="content">
      <div class="col-xs-9 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-3">
        <h3>Add Car</h3>
        <hr/>
        <div th:replace="carform :: carform">
        </div>
      </div>
    </div>
  </body>
</html>