<!DOCTYPE html>
<html layout:decorator="layout">
  <head>
    <title>Edit Car</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <script th:inline="javascript" type="text/javascript">
      /*<![CDATA[*/
          $(document).ready(function() {
              var header = $("meta[name='_csrf_header']").attr("content");
              var token = $("meta[name='_csrf']").attr("content");
              var id = window.location.pathname.split('/')[2];
              var car = {};

              var carDetailsRequest = $.ajax({
                  url: "/resources/cars/" + id, 
                  method: "GET",
              });

              carDetailsRequest.done(function(data) {
                  $("#editcar").show();
                  $("#year").val(data.year);
                  $("#make").val(data.make);
                  $("#model").val(data.model);

                  if (data.trimLevels.length > 0) {
                      data.trimLevels.sort(sortTrimLevels);
                      $.each(data.trimLevels, function(i, item) {
                          var div = $("<div class='input-group'>" +
                                        "<input class='form-control existingtrimlevel' type='text'/>" +
                                        "<span class='input-group-btn'>" +
                                          "<button id='trimlevel_" + item.id + "' type='button' class='btn btn-default'>Delete</button>" +
                                        "</span>" +
                                      "</div>");

                          div.find("input").val(item.name);
                          div.find("input").attr('id', "trimlevel_" + item.id);
                          div.find("button").click(function() {
                              $(this).parent().closest('div').remove();
                          });

                          $("#trimlevels").append(div);
                      });
                  } else {
                      addNewTrimLevelInput();
                  }
              });

              carDetailsRequest.fail(function(data) {
                  $("#carnotfound").show();
              });

              $("#submitcarbutton").click(function() {
                  $("#submitcarbutton").prop("disabled", true);
                  car.year = $("#year").val();
                  car.make = $("#make").val();
                  car.model = $("#model").val();
                  car.trimLevels = [];

                  // Existing trim levels
                  if ($(".existingtrimlevel").length > 0) {
                      var emptyExistingTrimLevel = false;

                      $(".existingtrimlevel").each(function() {
                          // Break loop if value is empty
                          if (!$(this).val().trim()) {
                              emptyExistingTrimLevel = true;
                              return false;
                          }

                          var trimLevelId = $(this).attr("id").split("_")[1]; 
                          car.trimLevels.push({id: trimLevelId, name:$(this).val()});
                      });

                      if (emptyExistingTrimLevel) {
                          alert("Found a trim level that was changed to no value.\nPlease enter a value or delete the trim level.");
                          $("#submitcarbutton").prop("disabled", false);
                          return;
                      }
                  }

                  // New trim levels
                  if ($(".trimlevel").length > 0) {
                      $(".trimlevel").each(function() {
                          var trimLevel = {name: $(this).val()};
                          car.trimLevels.push(trimLevel);
                      });
                  }

                  var editCarRequest = $.ajax({
                      url: "/resources/cars/" + id,
                      method: "PUT",
                      data: JSON.stringify(car),
                      contentType: "application/json; charset=UTF-8",
                      processData : false,
                      dataType: "json",
                      beforeSend: function(request) {
                          return request.setRequestHeader(header, token);
                      }
                  });

                  editCarRequest.done(function() {
                      alert("Car updated.");
                      window.location.href = "/";
                  });

                  editCarRequest.fail(function(data) {
                      alert("Oops! Error trying to update car!");
                      $("#submitcarbutton").prop("disabled", false);
                  });
              });
          });
      /*]]>*/
    </script>
  </head>
  <body>
    <div class="container" layout:fragment="content">
      <h4 id="carnotfound" style="display:none;">Car not found.</h4>
      <div id="editcar" style="display:none;" class="col-xs-9 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-5 col-md-offset-3">
        <h3>Edit Car</h3>
        <hr/>
        <div th:replace="carform :: carform">
        </div>
      </div>
    </div>
  </body>
</html>