<!DOCTYPE html>
<html layout:decorator="layout">
  <head>
    <title>Car Data</title>
    <script th:inline="javascript" type="text/javascript">
        /*<![CDATA[*/
            $(document).ready(function() {
                var request = $.ajax({
                    url: "/resources/cars", 
                    method: "GET",
                });

                request.done(function(data) {
                    $.each(data, function(i, item) {
                        var id = item.id ? item.id.toString() : "";
                        var year = item.year ? item.year.toString() : "";
                        var make = item.make ? item.make : "";
                        var model = item.model ? item.model : "";
                        var trimLevelsArray = [];
                        var trimLevelsString = "";

                        item.trimLevels.sort(sortTrimLevels);
                        for (var i=0; i<item.trimLevels.length; i++) {
                            trimLevelsArray.push(item.trimLevels[i].name);
                        }

                        // Sort trim levels
                        if (trimLevelsArray.length > 0) {
                            trimLevelsArray;
                            trimLevelsString = trimLevelsArray.join(", ");
                        }

                        $("#tablebody").append("<tr>" +
                                                 "<td><a href='cars/" + id + "'>" + escapeHtml(year) + "</a></td>" +
                                                 "<td><a href='cars/" + id + "'>" + escapeHtml(make) + "</a></td>" +
                                                 "<td><a href='cars/" + id + "'>" + escapeHtml(model) + "</a></td>" +
                                                 "<td><a href='cars/" + id + "'>" + escapeHtml(trimLevelsString) + "</a></td>" +
                                               "</tr>");
                    });
                });
            });
        /*]]>*/
    </script>
  </head>
  <body>
    <div class="container" layout:fragment="content">
      <table class="table">
        <thead>
          <tr>
            <th>Year</th>
            <th>Make</th>
            <th>Model</th>
            <th>Trim Levels</th>
          </tr>
        </thead>
        <tbody id="tablebody">
        </tbody>
      </table>
    </div>
  </body>
</html>