<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!--/*  Each token will be replaced by their respective titles in the resulting page. */-->
    <title layout:title-pattern="$CONTENT_TITLE"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="theme-color" content="#222222"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/react.production.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/react-dom.production.min.js}"></script>
  </head>
  <body>
    <div class="wrapper">
      <div th:replace="header :: header">
      </div>
      <div class="maincontent">
        <div layout:fragment="content" class="content">
        </div>
      </div>
      <div th:replace="footer :: footer">
      </div>
    </div>
  </body>
</html>