<footer class="footer mt-auto py-3">
  <div class="text-center">
    <div>
      <a class="btn" href="https://github.com/mikedoinggood/car-data">GitHub Repo</a>
    </div>
    <div>
      <a href="https://rubyonrails.org/">
        <img src="https://www.glicerial.com/images/rails-logo.png" width="50" height="18"></img>
      </a>
    </div>
  </div>
</footer>