<div ng-if="$ctrl.carNotFound">
  <h4>Car not found.</h4>
</div>    
<div ng-if="$ctrl.carFound">
  <h4>Car Details</h4>
  <a class="btn btn-default btn-sm" id="editlink" href="{{$ctrl.carId}}/edit" role="button">Edit</a>
  <button class="btn btn-default btn-sm" id="deletecarbutton" ng-disabled="$ctrl.deleteDisabled" ng-click="$ctrl.confirmDelete()">Delete</button>
  <hr>
  <div>
    <p class="h4">Year:</p>
    <div class="container">
      <p id="year">{{ $ctrl.car.year }}</p>
    </div>
  </div>
  <div>
    <p class="h4">Make:</p>
    <div class="container">
      <p id="make">{{ $ctrl.car.make }}</p>
    </div>
  </div>
  <div>
    <p class="h4">Model:</p>
    <div class="container">
      <p id="model">{{$ctrl.car.model }}</p>
    </div>
  </div>
  <div>
    <p class="h4">Trim Levels:</p>
    <div class="container" id="trimlevels">
      <div ng-repeat="trim in $ctrl.car.trimLevels | orderBy:'name'">
        {{ trim.name }}
      </div>
    </div>
  </div>
</div>
